.navbar {
    border-radius: 0 !important;
}
.main {
    margin-top: 35px !important;
    margin-bottom: 20px;
}
body, html {
    min-height: 100%;
    font-family: 'Roboto', sans-serif !important;
}
.footer{
    bottom: 5px;
    width: 100%;
    text-align: center;
}
.table {
    text-align: center;
    height: 4vw;
    text-transform: uppercase;
}
td {
    font-size: 1.5vw;
    vertical-align: middle !important;
}
.current {
    text-align: center;
    font-size: 1.5vw;
}
.button2 {
    width: 10vw;
    height: 2.5vw;
}
.navbar, .navbar.navbar-default {
    background-color: #3e94ec;
}
input{
    text-transform: uppercase;
}

