<!DOCTYPE html>
<html lang="en" ng-app="gigglClient">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Helpful Application 2002</title>
    <script src="requestanimationframe.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-socket-io/0.7.0/socket.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-datepicker.js"></script>
    <script src="assets/js/material-kit.js"></script>
    <script src="assets/js/material.min.js"></script>
    <script src="assets/js/jquery.nouislider.js"></script>
    <script src="assets/js/nouislider.ng.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers/clientController.js"></script>
    <script src="assets/js/services/socketService.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/material-kit.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="app-container" ng-controller="clientController">
    <div class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand h3">Helpful Application 2002</div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container-fluid">
            <div class="row">
                <div class="current col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <span ng-if="list.length == 0">
                            <h3 class="text-danger">Ühtegi autot pole töös</h3>
                        </span>
                        <span ng-if="list.length == 1">
                            <h3 class="text-success">Töös on 1 auto</h3>
                        </span>
                        <span ng-if="list.length > 1">
                            <h3 class="text-success">Töös on {{list.length}} autot</h3>
                        </span>
                    </div>
                </div>
                <div class="playlist col-xs-12">
                    <table class="table table-striped">
                        <tr ng-repeat="item in list">
                            <td class="col-xs-2 col-md-2 col-lg-2"><div>{{item.name}}</div></td>
                            <td class="col-xs-3 col-md-3 col-lg-3"><div>{{item.display}}</div></td>
                            <td class="col-xs-2 col-md-2 col-lg-2">
                                <button class="btn btn-success btn-sm button2" type="button" ng-click="start($index)">
                                    <div class="center-block"><i class="fa fa-play"></i><span class="hidden-xs hidden-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start</span></div>
                                </button>
                            </td>
                            <td class="col-xs-2 col-md-2 col-lg-2">
                                <button class="btn btn-warning btn-sm button2" type="button" ng-click="stop($index)">
                                    <div class="center-block"> <i class="fa fa-stop"></i><span class="hidden-xs hidden-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stopp</span></div>
                                </button>
                            </td>
                            <td class="col-xs-2 col-md-2 col-lg-2">
                                <button class="btn btn-info btn-sm button2" type="button" ng-click="reset($index)">
                                    <div class="center-block"><i class="fa fa-repeat"></i><span class="hidden-xs hidden-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nulli</span></div>
                                </button>
                            </td>
                            <td class="col-xs-2 col-md-2 col-lg-2">
                                <button class="btn btn-danger btn-sm button2" type="button" ng-click="remove($index)">
                                    <div class="center-block"><i class="fa fa-times"></i><span class="hidden-xs hidden-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kustuta</span></div>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="add col-xs-12">
                    <div class="form-group">
                        <form ng-submit="add()">
                            <div class="input-group">
                                <input pattern="^[A-Za-z]{3}[0-9]{3}$" type="text" class="form-control" placeholder="Auto number" ng-model="new">
                                <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Lisa</button>
                        </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="footer">
        Built with <i class="fa fa-heart"></i> and <i class="fa fa-coffee"></i>
    </p>
</div>
</body>
</html>